main
  { 
     margin: 0;
  
     width: 100%;
     height: 100%;
     background-image: url(/veb2021/image/residence-gf6e97047e_1920.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     justify-content: center;
     font-family: Helvetica,Arial, sans-serif;
    padding: 50px 0;
  }
 #registration_form{
     width: 45%;
     height: 1200xp;
     background: #10375C;
     color: #fff;
     display: flex;
     flex-direction: column;
     border-radius: 5px;
     padding-left: 20px;
     margin-left: 100px;

  }
  input{
      width: 35%;
      margin-bottom: 10px;
  }
  input::placeholder
  {
    color: red;
  }
  button{
    width: 1%;
    height: 10%;
    background-color: #FF5722;
    border-radius: 5px;
    color: #ffffff;

    padding: 2% 12%;
    text-decoration: none;
    margin: 0px 60%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  textarea{
      width: 90%;
      min-height: 20px;
  }
  label{
      margin: 5 0;
  }
  .error {
    width  : 35%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
 