main {
  width: 70%;
  height: 100%;
}
aside {
    width: 30%;
    height: 100%;
    float: right;
 }
 .button{
    width: 15%;
    height: 15%;
    background-color: #FF5722;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding: 15px 50px; 
    text-decoration: none; 
   margin-left:  70%;
    z-index: 3;
  }
.search_parameters{
  width: 40%;
  min-width: 400px;
  height: auto;
  margin: 5px;
  padding: 9px 20px;
  border-radius: 4px;
  background-color: #10375C;
  z-index: 2;
  font-family: Helvetica, Arial,sans-serif;
  color: #fff;
}
h3{
  margin: 15 10;
  font-family:  Helvetica,Arial, sans-serif;

}
