th{
    vertical-align: middle;
    text-align: center;
    padding: 5px 3px;
    white-space: normal;
    background-color: #FF5722;
    color: #fff;
    font-family:  Helvetica, Arial,sans-serif;
}
table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tbody{
    height: 100%;
    width: 100%;
}

article{
    display: flex;
    background-color: #10375C;
    width: 90%;
    margin: 40px auto;
    flex-direction: column;
}
h3{
    color: #fff;
}
@media (max-width: 1920px)
  {
    thead{
        font-size: 16px;
    }
    header > a{
        font-size: 30px;
    }
    nav > a, footer > a{
        font-size: 19px;
    }
  }
  @media (max-width: 850px)
  {
    thead{
        font-size: 10px;
    }
  }
  @media (max-width: 600px)
  {
    thead{
        font-size: 8px;
    }
    header > a{
        font-size: 20px;
    }
    nav > a, footer > a,footer{
        font-size: 12px;
    }
  }
  @media (max-width: 500px)
  {
    thead{
        font-size: 4px;
    }
  }