.img_head{
  
    width: 100%;
    height: 100%;
    background-size: cover;
 
  }
 main
  { 
     margin: 0;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     height: 100%;
     background-image: url(/image/residence-gf6e97047e_1920.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     justify-content: center;
     font-family: Helvetica,Arial, sans-serif;
  }
  .search_box
  {
    position: relative;
    width: 60%;
    max-width: 900px;
    height: 280px;
    border-radius: 8px;
    background-color: #10375C;
    display: grid;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
}

  #head_search{
    color: #FFFFFF;
    font-family: Helvetica,Arial, sans-serif;
    position: relative;
    top: 20px;
    left: 32px;
    display: inline-block;
    margin: 0px;
    width: 267px;

  }
  h3{
    color: #ffff;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0px;
    width: 12;
  }
  input{
    width: 200px;
    height: 50px;
    color: #10375C;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: 90px;
    left: -12px;
    margin-right: 50px;
  }
  button{
    width: 0%;
    height: 11%;
    background-color: #FF5722;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding: 15px 100px;
    text-decoration: none;
    margin: 0px 71%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    position: relative;
    top: 20px;
    
  }
  .c{
    display: flex;
    z-index: 2;
    position: relative;
    left: 33px;
    
  }