th{
    vertical-align: middle;
    text-align: center;
    padding: 5px 3px;
    white-space: normal;
    background-color: #FF5722;
    color: #fff;
    font-family:  Helvetica, Arial,sans-serif;
}
table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    margin: auto;

}
tbody{
    height: 100%;
    width: 100%;
}
main{
    font-family: Helvetica,Arial, sans-serif;
}
article{
    display: flex;
    background-color: #10375C;
    width: 90%;
    margin: 40px auto;
    flex-direction: column;
}
h3{
    color: #fff;
}